* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.calc {
    font-size: xx-large;
    background-color: black;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: black solid 2px;
}

.display,
.key {
    height: 100px;
}

.display {
    background-color: lightgray;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 3px;
    padding: 20px;
}

.keypad-row {
    display: flex;
    flex-direction: row;
    background-color: gray;
}

.key {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

.key-2 {
    width: 50%;
}

.action.key,
.number.key {
    background-color: white;
}
.action.key:hover,
.number.key:hover {
    background-color: lightgray;
}
.action.key:active,
.number.key:active {
    background-color: gray;
}

.operator.key {
    background-color: gold;
}
.operator.key:hover {
    background-color: goldenrod;
}
.operator.key:active {
    background-color: darkgoldenrod;
}