* {
    box-sizing: border-box;
}

.calc {
    font-size: xx-large;
    background-color: black;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border: black solid 2px;
}

.display,
.key {
    height: 100px;
}

.display {
    background-color: lightgray;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 3px;
    padding: 20px;
}

.keypad-row {
    display: flex;
    flex-direction: row;
    background-color: gray;
    flex-wrap: wrap;
}

.key {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

.key-2 {
    width: 200px;
    margin: 1px 2px;
}

.numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
}

.action.key,
.number.key {
    background-color: white;
}
.action.key:hover,
.number.key:hover {
    background-color: lightgray;
}
.action.key:hover,
.number.key:active {
    background-color: gray;
}

.operator.key {
    background-color: gold;
}
.operator.key:hover {
    background-color: goldenrod;
}
.operator.key:active {
    background-color: darkgoldenrod;
}