.calc {
    font-size: xx-large;
    background-color: black;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: black solid 2px;
}

.display {
    padding: 15px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: end;
    align-items: center;
}

.keypad {
    display: flex;
    flex-direction: row;
    background-color: gray;
}

.key {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key-2 {
    width: 200px;
}

.key-3 {
    width: 300px;
}

.numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
}

.numbers .key {
    background-color: white;
}
.numbers .key:hover {
    background-color: lightgray;
}
.numbers .key:active {
    background-color: gray;
}

.operators .key {
    background-color: gold;
}
.operators .key:hover {
    background-color: goldenrod;
}
.operators .key:active {
    background-color: darkgoldenrod;
}